<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Chat Room Inbox</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<section class="blue" id="blueChat">
		<nav id="messagingNav">
			<ul><li class="navText"><a href="#">Chat Room</a></li></ul>
			<ul><li><a href="#"><img id="logoSmall" src="images/logo.svg" alt="Chat Room Logo"></a></li></ul>
			<ul><li><a href="index.html"><img src="images/signout.svg" alt="Sign Out" id="signout"></a></li></ul>
		</nav>
	
	</section>
	<main id="app">
		<section class="form-container">
			<form>
				<label for="message" id="typeMsg"></label>
				<textarea @keydown="captureKeyStroke" @blur="releaseKeyStrokes" v-model="message" class="message" type="text" autocomplete="off" id="textarea" placeholder="Type your message here:"></textarea>
				<input @click.prevent="dispatchMessage" type="submit">
			</form>
		</section>

		<section class="messages">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages" :msg="message"> </newmessage>
			</ul>
			<!-- <div class="typing"></div> -->
		</section>

	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>